# =========================
# Python / Virtual Envs
# =========================
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.log

# =========================
# ML / Project Artifacts
# =========================
model/
models/
features/
uploads/
tmp/
data/

*.pkl
*.onnx
*.tflite
*.h5
*.arff
*.zip
*.mp4
*.avi

# =========================
# DATASET CONTROL (IMPORTANT)
# =========================

# Ignore everything in dataset by default
dataset/*
dataset_landmarks/*

# Allow dataset root
!dataset/

# Allow ONLY selected dance datasets
!dataset/Kathak/
!dataset/Bharatanatyam/
!dataset/Ballet/
!dataset/HipHop/
!dataset/Garba/

# (Optional) keep folders even if empty
dataset/**/.keep

# =========================
# OS / IDE junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
